In [1]:
# 1. Import necess libraries
import pandas as pd

In [2]:
#import data
weight_height_data=pd.read_csv('weight-height.csv')
weight_height_data.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [3]:
# feature engineering 
# here weight in pounds change to kg
# 3. Understanding data
weight_height_data.shape

(10000, 3)

In [4]:
weight_height_data.isna().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [5]:
weight_height_data.dtypes

Gender     object
Height    float64
Weight    float64
dtype: object

In [6]:
# predict height
# data preparation
# 1. data cleaning
# 2. data transformation
# 3. feature engineering
# it is nothing but a concept of whatever you do with features, we call it feature engg
# feat deletion/addition/selection/decomposition/transformation

In [7]:
# first convert height from inches to cm and weight from ppounds to kg

In [8]:
weight_height_data_copied=weight_height_data.copy()

In [9]:
del weight_height_data_copied['Gender']

In [11]:
weight_height_data_copied.head()

      Height      Weight
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801

In [12]:
weight_height_data_copied['Height_cm']=weight_height_data_copied['Height']*2.54
weight_height_data_copied['Weight_kg']=weight_height_data_copied['Weight']/2.205

In [13]:
weight_height_data_copied

         Height      Weight   Height_cm   Weight_kg
0     73.847017  241.893563  187.571423  109.702296
1     68.781904  162.310473  174.706036   73.610192
2     74.110105  212.740856  188.239668   96.481114
3     71.730978  220.042470  182.196685   99.792504
4     69.881796  206.349801  177.499761   93.582676
...         ...         ...         ...         ...
9995  66.172652  136.777454  168.078536   62.030591
9996  67.067155  170.867906  170.350573   77.491114
9997  63.867992  128.475319  162.224700   58.265451
9998  69.034243  163.852461  175.346978   74.309506
9999  61.944246  113.649103  157.338385   51.541543

[10000 rows x 4 columns]

In [14]:
weight_height_data_copied.drop(labels=['Height','Weight'],axis=1,inplace=True)

In [15]:
weight_height_data_copied

       Height_cm   Weight_kg
0     187.571423  109.702296
1     174.706036   73.610192
2     188.239668   96.481114
3     182.196685   99.792504
4     177.499761   93.582676
...          ...         ...
9995  168.078536   62.030591
9996  170.350573   77.491114
9997  162.224700   58.265451
9998  175.346978   74.309506
9999  157.338385   51.541543

[10000 rows x 2 columns]